.profile__info {
  margin: 0 auto;
  width: 100%;
  max-width: 336px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "profile__title profile__button-edit"
    "profile__subtitle .";
  align-items: center;
  justify-items: start;
}

@media screen and (max-width: 640px) {
  .profile__info {
    max-width: 246px;
    margin: 0;
    margin-bottom: 34px;
    grid-template-columns: 20px 1fr 20px auto;
    grid-template-rows: 40px 18px;
    grid-template-areas:
      ". profile__title  profile__button-edit ."
      ". profile__subtitle . .";
    justify-items: center;
    align-items: baseline;
  }
}
