.profile {
  width: 100%;
  margin: 0;
  padding: 38px 0 53px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .profile {
    padding: 28px 0 34px ;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 640px) {
  .profile {
    gap: 0;
  }
}
