.profile__list {
  width: 100%;
  max-width: 486px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .profile__list {
    flex-direction: column;
    gap: 25px;
  }
}
