.footer {
  display: flex;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  margin-top: 66px;
  
}

@media screen and (max-width: 950px) {
  .footer {
    max-width: 68vw;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 320px;
  }
}

