.element {
  width: 100%;
  max-width: 282px;
  background-color: #fff;
  display: grid;
  align-items: center;
  grid-template-columns: 7% auto 15%;
  grid-template-rows: 1fr minmax(79px, auto);
  border-radius: 10px;
  position: relative;
}
