.auth__form-help {
  width: 358px;
  display: block;
  font-size: 14px;
  line-height: 17px;
  margin: 15px 0 0;
  min-height: 17px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .auth__form-help {
    width: 260px;
    margin: 19px 0 0;
  }
}
