.header__link-emai {
  display: block;
  font-weight: 500;
  padding: 0;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header__link-emai {
    margin: 0;
    padding-bottom: 18px;
  }
}
