.popup__input {
  position: relative;
  width: 358px;
  height: 27px;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding: 0;
  margin: 27px 0 5px 0;
  border: none;
  border-bottom: 1px solid #00000033;
  outline: none;
}

.popup__input:first-of-type {
  margin: 0;
}

.popup__input::placeholder {
  color: #c4c4c4;
}

@media screen and (max-width: 768px) {
  .popup__input {
    width: 238px;
  }
}
