.element__button-like {
  padding: 0;
  background: #fff url(../../../images/like.svg) no-repeat center;
  width: 22px;
  height: 19px;
  border-style: none;
  cursor: pointer;
}

.element__button-like:hover {
  opacity: 0.5;
}
